body {
    background-color: #3c8d17;
    line-height: 1.6;
}



header {
   background: #ff0000;
   color: #000000;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}


header ul {
    list-style: none;
    display: flex;
}

header ul li a {
     color: #2600ff;
     text-decoration: none;
     padding: 5px 10px;
}

header ul li  {
     background: #555;
     border-radius: 5px;
}


.hero h1 {
     font-size: 2.5em;
     margin-bottom: 20px;
}

